{% extends "todo/base.html" %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>ABOUT US</title>
</head>
<body>
    <h1>ABOUT</h1>
    <br></br>
    <p>The TO-DO site is a web application that was mainly desgined in the Python language using the Django web framework.
        The main languages that are used in the construction of this web app are: </p>
    
        <ul>
            <li>HTML</li>
            <li>Python</li>
            <li>CSS</li>
        </ul>
</body>
</html>
{% endblock content %}