{% extends "todo/base.html" %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>HOME PAGE</title>
</head>
<body>
    <br></br>

    <h2 style="text-align:center">Add TO-DO Items Here:</h2>
    <form style="text-align:center" action="/home/" method="post">{% csrf_token %}
        <input style="height:45px;width:600px" type="text" name="content" placeholder="Enter TO-DO Item" class="rounded border border-dark border-2" required/>
        <button style="height:45px;width:75px" type="submit" class="btn btn-success mb-1 border border-dark border-2">Add</button>
    </form>
    
    <br></br>

    <h2>TO-DO:</h2>
    <ul class="list-group">
        {% for todoitem in all_items %}
        <li class="list-group-item bg-transparent border border-dark border-2" style="color:white; font-size:20px">{{ todoitem.item }}
            <br></br>
            <em style="font-size:15px">Posted on: {{ todoitem.date_posted }}</em>

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-danger" style="float: right;" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                Delete TO-DO Item
            </button>

            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel" style="color:black">Are you sure you want to delete: "{{ todoitem.item }}"?</h5>
                    </div>
                    <div class="modal-body" style="color:black"> 
                    This will delete the TO-DO item forever.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <form action="/deletetodo/{{todoitem.id}}/" 
                            style="display: inline;"
                            method="post">{% csrf_token %}
                            <input type="submit" value="Delete" class="btn btn-danger"/> 
                        </form>
                    </div>
                </div>
                </div>
            </div>
            

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-secondary" style="float: right;" data-bs-toggle="modal" data-bs-target="#myupdate">
                Update TO-DO Item
            </button>

            <!-- Modal -->
            <div class="modal fade" id="myupdate" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="myupdatelabel" style="color:black">Do you want to update: "{{ todoitem.item }}"?</h5>
                    </div>
                    <div class="modal-body" style="color:black"> 
                        <label for="exampleInputEmail1">Update your TO-DO item</label>
                        <input type="text" class="form-control" id="UpdatedItem">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        
                        <form action="/home/{{todoitem.id}}/" 
                            style="display: inline;"
                            method="post">{% csrf_token %}
                            <input type="submit" value="Update" class="btn btn-success"/> 
                        </form>
                    </div>
                </div>
                </div>
            </div>
            
        </li> 
        {% endfor %}
    </ul>
</body>
</html>
{% endblock content %}
