{% extends "todo/base.html" %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>HOME PAGE</title>
</head>
<body>
    <br></br>

    <h2>Add TO-DO Items Here:</h2>
    <form action="/home/" method="post">{% csrf_token %}
        <input  type="text" name="content" class="form-group mb-2" placeholder="Enter TO-DO Item"/>
        <button type="submit" class="btn btn-primary mb-2">Add</button>
    </form>
    
    <br></br>

    <h2>TODO:</h2>
    <ul class="list-group">
        {% for todoitem in all_items %}
        <li class="list-group-item bg-transparent" style="color:white">{{ todoitem.item }}
            <br></br>
            <em>Posted on: {{ todoitem.date_posted }}</em>
            <form action="/deletetodo/{{todoitem.id}}/" 
            style="display: inline;"
            method="post">{% csrf_token %}
                <input  type="submit" value="Delete"/> 
            </form>
        </li> 
        {% endfor %}
    </ul>
</body>
</html>
{% endblock content %}