{% extends "todo/base.html" %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>HOME PAGE</title>
</head>
<body>
    <br></br>

    <h2 style="text-align:center">Add TO-DO Items Here:</h2>
    <form style="text-align:center" action="/home/" method="post">{% csrf_token %}
        <input style="height:45px;width:600px" type="text" name="content" placeholder="Enter TO-DO Item"/>
        <button style="height:45px;width:75px" type="submit" class="btn btn-success">Add</button>
    </form>
    
    <br></br>

    <h2>TODO:</h2>
    <ul class="list-group">
        {% for todoitem in all_items %}
        <li class="list-group-item bg-transparent border border-dark border-2" style="color:white">{{ todoitem.item }}
            <br></br>
            <em>Posted on: {{ todoitem.date_posted }}</em>

            <div>
                <form action="/deletetodo/{{todoitem.id}}/" 
                    style="display: inline;"
                    method="post">{% csrf_token %}
                    <input type="submit" value="Delete" class="btn btn-danger" style="float: right;"/> 
                </form>
            </div>
        </li> 
        {% endfor %}
    </ul>
</body>
</html>
{% endblock content %}