<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
</head>
<style>
    body {
        background: rgb(5,204,255);
        background: radial-gradient(circle, rgba(5,204,255,1) 0%, rgba(20,93,173,1) 93%);
    }
    </style>
<body>
    <h1 style="text-align:center;">Welcome to The TO-DO App</h1>

    <h2>Add TO-DO Items Here:</h2>
    <form action="/home/" method="post">{% csrf_token %}
        <input  type="text" name="content"/>
        <input  type="submit" value="Add"/> 
    
    </form>
</body>
</html>